#large-sections p{
    border: 3px solid green;
    /* width: 480px; */
    height: 125px;
    /* width: 100%; */
    line-height: 125px;
}

#small-sections p{
    border: 3px solid green;
    width: 240px;
    height: 250px;
    width: 50%;
    line-height: 250px;
    float: left;
}

@media screen and (min-width: 768px){
    #container-nav{
        /* border: solid black 2px; */
        float: left;
        height: 100%;
        width: 20.8%;
    }
    
    #container1{
        /* border: solid green 3px; */
        float: right;
        width: 79.2%;
        height: 33.3%;
    }

    #container2{
        /* border: solid yellow 3px; */
        float: right;
        width: 79.2%;
        height: 41.6%;
    }

    #large-sections p{
        border: 2px solid black;
        width: 50%;
        height: 200px;
        line-height: 200px;
        float: left;
    }
    
    #small-sections p{
        border: 2px solid black;
        /* width: 240px; */
        height: 250px;
        width: 25%;
        line-height: 250px;
        /* float: left; */
    }
}