

@media screen and (min-width: 600px){

}

@media screen and (min-width: 768px){
    #main-wrapper {
        border: pink solid 3px;
        display: flex;
        flex-direction: row;
        height: 600px;
    }

    #container-nav{
        /* border: solid black 2px; */
        display: flex;
        height: 100%;
        width: 20.8%;
    }

    #container-wrapper{
        border: blue solid 3px;
        display: flex;
        flex-direction: column;
        width: 79.2%;

    }
    
    #container1{
        border: solid red 3px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        height: 33.3%;
    }

    #container2{
        border: solid yellow 3px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        height: 41.6%;
    }

    #container1 p{
        border: 2px solid black;
        width: 50%;
        height: 100%;
        line-height: 100%;
    }
    
    #container2 p{
        border: 2px solid black;
        /* width: 240px; */
        height: 100%;
        width: 25%;
        line-height: 100%;
    }
}